In [4]:
import pandas as pd
melbourne_file_path = 'kaggle/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns

Index(['Unnamed: 0', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method',
       'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea',
       'Lattitude', 'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [5]:
melbourne_data = melbourne_data.dropna(axis=0)

In [6]:
y = melbourne_data.Price

In [7]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [8]:
X = melbourne_data[melbourne_features]

In [9]:
X.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [10]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

In [11]:
from sklearn.tree import DecisionTreeRegressor
melbourne_model = DecisionTreeRegressor(random_state=1)

# modelin eğitimi.
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [15]:
print("Rastgele 5 ev bilgisi:")
print(X.head())
print("tahminlerim şu şekilde:")
print(melbourne_model.predict(X.head()))

Rastgele 5 ev bilgisi:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
tahminlerim şu şekilde:
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [16]:
# modelin değerlendirilmesi
# hata = gerçek - tahmin , Mean Absolute Error kullanılacak. ,
from sklearn.metrics import mean_absolute_error
predicted_home_prices = melbourne_model.predict(X)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

In [17]:
# yada yukarıdaki işlemlerin tamamını şu şekilde de yapabiliriz.

# test/train ayrımı için kütüphanenin yüklenmesi.
from sklearn.model_selection import train_test_split

# test/train eğitim kümesinin ayrılması.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

# modelin tanımlanması
melbourne_model = DecisionTreeRegressor()

# modelin eğitimi
melbourne_model.fit(train_X, train_y)

# tahmin ve hata'nın hesaplanması
val_predictions = melbourne_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

274565.9453410803

In [21]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [22]:
# Underfitting( az öğrenme ) ve Overfitting ( aşırı öğrenme )

# Underfitting : modelin test ve train eğitimlerinde kötü sonuçlar vermesidir.
# Overfitting : modelin eğitim hatası azalırken değerlendirme hatasında artış meydana gelir. Yani model
# gelen data türlerini ezberler ve makine öğrenmesi amacının dışına çıkmış olur.

import pandas as pd
    
# datanın yüklenmesi
melbourne_file_path = 'kaggle/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
# datanın ön işlemleri ( veri olmayan satırları pandas'ın dropna metodu ile siliyoruz )
filtered_melbourne_data = melbourne_data.dropna(axis=0)
# özellik seçimi.
y = filtered_melbourne_data.Price
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']
X = filtered_melbourne_data[melbourne_features]

from sklearn.model_selection import train_test_split

# datanın test/train/validation şeklinde ayrılması
train_X, val_X, train_y, val_y = train_test_split(X, y,random_state = 0)

In [23]:
# MAE hesabı ( kayıp fonksiyon hesabı )
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  347380
Max leaf nodes: 50  		 Mean Absolute Error:  258171
Max leaf nodes: 500  		 Mean Absolute Error:  243495
Max leaf nodes: 5000  		 Mean Absolute Error:  254983

In [24]:
# buraya kadar çok basit bir makine öğrenmesi modeli inşa ettik. temel düzeydeydi. peki ya aynı problemi bir
# miktar daha karışık olan random forest algoritmasını verirsek sonuçlar nasıl değişecek ?

import pandas as pd
    
# verinin yüklenmesi ile başlıyoruz.
melbourne_file_path = 'kaggle/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
# herzaman ki gibi veriyi ön işlemden geçirerek modelimize uygun hale getiriyoruz.
melbourne_data = melbourne_data.dropna(axis=0)
# hedef ve özelliklerimizi seçiyoruz.
y = melbourne_data.Price
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features]

# kurtarıcımız olan sklearn içerisinden verilerimizi test/train olarak ayıracak kütüphanemizi import ediyoruz.
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y,random_state = 0)

In [25]:
# random forest'ın yüklenmesi.
from sklearn.ensemble import RandomForestRegressor
# hatanın hesaplanabilmesi için mea'nın yüklenmesi.
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

191669.7536453626

In [ ]:
# muhteşem !!! çok daha iyi bir sonuç aldık.. bir önceki modelimizde en iyi hata değerimiz 254983 iken random
# forest ile bu değeri 191669 e düşürdük.